
.postButton{
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 17px auto 0;
    padding: 0;
    position: relative; 
    color: blue;
}

.baslik, .aciklama{
    color: black !important;
}
.card-body{
    text-align: center;
}

.postMain{
    border: none;
}

.dahaFazla{
    text-transform: uppercase;
    letter-spacing: 1px;
    border-style: solid;
    margin: 30px auto 60px;
    border-width: 2px;
    border-color: #ffffff !important;
    color: #ffffff !important;
    background-color: transparent !important;
    padding: 10px 30px;
    transition: 0.8s;
}
.dahaFazla:hover{
    background-color: #ffffff !important;
    color: black !important;
    transition: 0.8s;
}
.w3-button{
    padding: 10px;
    margin-right: 15px;
}
.yorumMain{
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    
}
.yorumMain h6{
    font-weight: 500;
    display: grid;
}
.w3-container{
    overflow: scroll;
    height: 400px;
}