
.postButton{
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 17px auto 0;
    padding: 0;
    position: relative; 
}

.baslik, .aciklama{
    color: black !important;
}
.card-body{
    text-align: center;
}

.postMain{
    border: none;
}