.postMain, .postMain img{
    width: 350px;
    background-color: white;
}
.postBaslik, .postAciklama{
    color: black ;
}
.postBaslik{
    margin: 17px 27px 0;
    font-family: 'Playfair Display',serif;
}
.postAciklama{
    margin: 20px 27px 0;
    font-family: 'Source Sans Pro',sans-serif;
}
.postButton{
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 17px auto 0;
    padding: 0;
    position: relative; 
}
.postMain{
    padding: 0 0 30px;
}