body{
    background-color: #292D33;
    color: white;
}

.navbarLink{
    padding: 10px;
    margin: 0px 10px;
    text-decoration: none;
    text-align: right;
}
.navbarLink:hover{
    text-decoration: none;
}
.navbarLink:visited{
    text-decoration: none;
}
.navbarSonLink{
    margin-right: 50px;
}

.large-text{
    text-align: center;
    font-size: 65px;
    color: white;
    margin: 60px 96px 0;
    font-family: Oswald, sans-serif !important;
}
.main-p{
    color: white;
    text-align: center;
    margin: 9px auto 0;
}

.postCenter{
    display: grid;
    width: 1140px;
    min-height: 375px;
    grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
    grid-gap: 22px;
    margin: 17px 0 0;
    text-align: center;
    position: relative;
}
.postSection{
    width: 100%;
    justify-content: center;   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
