.footerMain{
    background-color: black;
}
.footerText{
    padding: 50px;
    
}
.hr{
    width: 100%;
    background-color: white;
    height: 1px;
    margin-bottom: 15px;
}
.row{
    text-align: center;
}
.footerTextBottom p{
    padding: 15px;
    margin: 0px !important;
    text-align: center;
}